---
import Layout from '../layouts/BaseLayout.astro'

export const title = 'AA Glossary'
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>
    <section id="intro">
      <p>As a newcomer to AA and meetings, you will hear and read terminology that is most likely unfamiliar</p>
    </section>
    <section id="aa-acronyms">
      <h2>Acronyms and Abbreviations</h2>
      <dl>
        <dt>AA</dt>
        <dd>Alcoholics Anonymous</dd>

        <dt>G.S.O.</dt>
        <dd>General Service Organization</dd>

        <dt>G.S.R.</dt>
        <dd>General Service Representative</dd>

        <dt>HP</dt>
        <dd>Higher Power</dd>
      </dl>
    </section>
    <section id="aa-terms">
      <h2>Terms</h2>
      <dl>
        <dt>Al-Anon</dt>
        <dd>definition</dd>

        <dt>Big Book</dt>
        <dd>definition</dd>

        <dt>Closed Meeting</dt>
        <dd>definition</dd>

        <dt>General Service Office</dt>
        <dd>definition</dd>

        <dt>General Service Representative</dt>
        <dd>definition</dd>

        <dt>Grapevine</dt>
        <dd>definition</dd>

        <dt>Heart of Virginia District</dt>
        <dd>definition</dd>

        <dt>Home Group</dt>
        <dd>definition</dd>

        <dt>Intergroup</dt>
        <dd>definition</dd>

        <dt>Open Meeting</dt>
        <dd>definition</dd>

        <dt>Twelve Steps</dt>
        <dd>definition</dd>

        <dt>Twelve Traditions</dt>
        <dd>definition</dd>

      </dl>
    </section>
  </main>
</Layout>
