---
import Layout from '../layouts/BaseLayout.astro'
import '../assets/page-layout.css'

export const title = 'AA Glossary'
---

<Layout title={title}>
  <div class="main-content surface-primary">
    <h1>{title}</h1>
    <section id="intro">
      <p>
        As a newcomer to AA and meetings, you will hear and read terminology
        that is most likely unfamiliar
      </p>
    </section>
    <section id="aa-acronyms">
      <h2>Acronyms and Abbreviations</h2>
      <dl>
        <dt>AA</dt>
        <dd>Alcoholics Anonymous</dd>

        <dt>G.S.O.</dt>
        <dd>General Service Organization</dd>

        <dt>G.S.R.</dt>
        <dd>General Service Representative</dd>

        <dt>HP</dt>
        <dd>Higher Power</dd>

        <dt>V.A.C.</dt>
        <dd><a href="#vac">Virginia Area Committee of A.A.</a></dd>
      </dl>
    </section>
    <section id="aa-terms">
      <h2>Terms</h2>
      <dl>
        <dt>Al-Anon</dt>
        <dd>definition</dd>

        <dt>Big Book</dt>
        <dd>definition</dd>

        <dt>Closed Meeting</dt>
        <dd>definition</dd>

        <dt>General Service Office</dt>
        <dd>definition</dd>

        <dt>General Service Representative</dt>
        <dd>definition</dd>

        <dt>Grapevine</dt>
        <dd>definition</dd>

        <dt>Heart of Virginia District</dt>
        <dd>definition</dd>

        <dt>Home Group</dt>
        <dd>definition</dd>

        <dt>Intergroup</dt>
        <dd>definition</dd>

        <dt>Open Meeting</dt>
        <dd>definition</dd>

        <dt>Twelve Steps</dt>
        <dd>definition</dd>

        <dt>Twelve Traditions</dt>
        <dd>definition</dd>

        <dt id="vac">Virginia Area Committee of A.A. (V.A.C.)</dt>
        <dd>definition</dd>
      </dl>
    </section>
  </div>
</Layout>

<style>
  :target {
    background-color: yellow;
  }
</style>
