---
import Layout from '../layouts/BaseLayout.astro'

export const title = 'About'
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>
    <section id="intro">
      This website is maintained by the Heart of Virginia (District No. 9)
      Intergroup, a part of The Virginia Area Committee of A.A. (V.A.C.), and is
      provided as a clearing house of information related to all AA groups and
      activities in the district (see: Service Areas of AA Heart of Virginia).
    </section>
    <section>
      <h2>About AA</h2>
      <p>
        For information about Alcoholics Anonymous in general, please refer to
        the <a href="https://www.aa.org/">Alcoholics Anonymous World Services</a
        > website.
      </p>
    </section>

    <section>
      <h2>About AA Heart of Virginia</h2>

      <aside>
        <p>
          Websites and contact information for other areas of Virginia can be
          found on the [Virginia Alchoholics Anonymous
          website](https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/).
        </p>
      </aside>

      <p>
        The Heart of Virginia Intergroup (often referred to simply as
        <em>Intergroup</em>) is an umbrella service organization, under the
        direction of representatives of district home groups to provide services
        and sponsor activities for home groups, AA members and individuals in
        recovery or seeking recovery from alcoholism
      </p>

      <p>
        As a vehicle for coordination and cooperation among home groups,
        Intergroup helps to achieve efficiency and economy for its home groups
        and to make AA’s hand more readily available to help the suffering
        alcoholic. It works in close partnership with a sister organization, the
        Heart of Virginia Service Committee (often referred to as <em
          >District</em
        >). Listed below are some of the services provided by Intergroup.
      </p>

      <section>
        <h3>Services Provided by AA Heart of Virginia Intergroup</h3>

        <details>
          <summary>Maintain aaheartofva.org</summary>
          <p>
            Intergroup maintains this website to provide information over the
            internet about open and closed meeting (days, times and locations)
            special events, volunteer opportunities, and other information about
            JDI, JDSC, and various AA support activities and functions. To post
            meeting updates and notices on the web site, send the information to <a
              href="mailto:AACharlottesville@gmail.com"
              >AACharlottesville@gmail.com</a
            >.
          </p>
        </details>

        <details>
          <summary>Run the Central Office</summary>
          <p>
            With assistance from JDSC, Intergroup rents an office (Suite 3-A,
            1807 Emmet Street) for a variety of uses including
            telecommunications linkage, access to purchase literature and chips,
            answering calls, maintaining files and records, storing and making
            available supplies for events. The office is used as a meeting room
            for committees, open and closed meetings, sponsor/sponsee sessions,
            and other special meetings.
          </p>
        </details>

        <details>
          <summary>Answer Calls</summary>
          <p>
            In order to respond to telephone inquiries from persons seeking
            information about local AA meetings and activities, Intergroup
            maintains a list of AA volunteers to answer incoming calls. An
            answering service routes these calls to AA volunteers when no one is
            available to answer the phone at the Intergroup office. AA
            volunteers are always needed for this important service of
            responding to calls. For more information, see the “Service” tab at
            the web site.
          </p>
        </details>

        <details>
          <summary>Publish Up-to-Date Meeting Information</summary>
          <p>
            In addition to web site information, every second month Intergroup
            prints a list of home group meetings (days, times and locations) for
            distribution at meetings. To submit updates to meeting schedules
            send the information to AACharlottesville@gmail.com.
          </p>
        </details>

        <details>
          <summary>Coordinate Special Events</summary>
          <p>
            The Intergroup, on its own or in cooperation with JDSC or home
            groups, sponsors the Christmas and other marathons, the Founder’s
            Day picnic, conferences, special events and fellowship activities.
          </p>
        </details>

        <details>
          <summary>Supply Literature and Chips to Home Groups</summary>
          <p>
            Intergroup maintains at the central office an inventory of AA books
            and pamphlets for home groups and members to purchase. Also,
            available is a supply of plastic chips and bronze medallions to mark
            individual’s time in sobriety. This Intergroup service makes it
            easier, quicker and less costly for home groups and individuals to
            obtain AA-authorized books. See the “Literature and Chips” tab at
            the web site.
          </p>
        </details>

        <details>
          <summary>Serve as a Forum for Communication Among Home Groups</summary
          >
          <p>
            Both Intergroup and JDSC are forums for communication and
            coordination among home groups. Where there are activities,
            projects, issues and questions that cut across many home groups, JDI
            serves as an important focal point for exchange of information and
            collaboration. Such communication and coordination helps to achieve
            efficiency and economy for the home groups and to assure AA’s
            availability to help the suffering alcoholic and those in recovery.
          </p>
        </details>

        <details>
          <summary>Coordinate Issues of Intergroup Interest and Concern</summary
          >
          <p>
            Every home group is entitled and encouraged to send a representative
            to the monthly JDI meetings, held at 7:00 PM on the first Thursday
            of the month at Westminster Presbyterian Church, 450 Rugby Road.
            Individual members are always welcomed guests! Pursuant to the
            governance bylaws, decisions are made after discussion and voting by
            groups’ representatives.
          </p>
        </details>

        <details>
          <summary
            >Financially Support Intergroup Operations and Services</summary
          >
          <p>
            The services provided by Intergroup are made possible by
            contributions from home groups and AA members. Without those
            contributions, Intergroup cannot provide the services listed above.
            Home groups are encouraged to make quarterly contributions to JDI to
            support ongoing operations and services. Contributions from AA
            members are always helpful too. Donations can be made payable to
            Jefferson District Intergroup and mailed to P.O. Box 6911,
            Charlottesville, VA 22906.
          </p>
        </details>
      </section>
    </section>
  </main>
</Layout>
