---
import Layout from "../layouts/BaseLayout.astro";
import "../assets/page-layout.css";

export const title = "About";
---

<Layout title={title}>
  <div class="main-content surface-primary">
    <h1>{title}</h1>
    <blockquote class="topical-quote">
      “A.A. is more than a set of principles; it is a society of alcoholics in
      action. We must carry the message, else we ourselves can wither and those
      who haven't been given the truth may die…”
      <footer>
        — <cite>As Bill Sees It</cite>
      </footer>
    </blockquote>
    <aside>
      <div class="toc">
        <h3>Contents</h3>
        <ul>
          <li>
            <a href="#about-website">About This Website</a>
          </li>
          <li>
            <a href="#about-aa">About Alcoholics Anonymous</a>
          </li>
          <li>
            <a href="#about-hova">About Heart of Virginia</a>
          </li>
        </ul>
      </div>
    </aside>

    <section id="about-website">
      <h2>About This Website</h2>
      <p>
        This website is maintained by Heart of Virginia District Intergroup, a
        part of The Virginia Area Committee (VAC) of AA, and is provided as a
        clearing house of information related to all AA groups and activities in
        the district. Websites and contact information for other districts in
        Virginia can be found on the <a
          href="https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/"
          >Virginia Alcoholics Anonymous website</a
        >.
      </p>
    </section>

    <section id="about-aa">
      <h2>About Alcoholics Anonymous (AA)</h2>
      <p>
        For general information about Alcoholics Anonymous, please refer to the
        official <a href="https://www.aa.org/">Alcoholics Anonymous website</a>
         run by the <a href="https://www.aa.org/aa-gso"
          >General Services Office (GSO)</a
        >. To learn more about what AA is, how it works, who its members are,
        and how to become a member, refer to <a
          href="https://www.aa.org/what-is-aa">What is AA</a
        > on the GSO website?
      </p>

      <p>
        If you are new to AA, we encourage you to check out our <a
          href="/new-to-aa">page for newcomers</a
        >.
      </p>
    </section>

    <section id="about-hova">
      <h2>About AA Heart of Virginia</h2>

      <p>
        Heart of Virginia is the name given by its members to District 9 of the
        Virginia Area of Alcoholics Anonymous. Coordination and cooperation
        among district home groups and between the district and the Virginia
        Area (region) and Alcoholics Anonymous General Service Office (GSO;
        U.S./Canada and global) is facilitated by Heart of Virginia Intergroup
        (often just called “Intergroup") and its sister organization, the Heart
        of Virginia District Service Committee (often just called “District”).
      </p>

      <p>
        Intergroup and District help to achieve efficiency and economy for its
        home groups by pooling resources and efforts to provide services that
        make AA’s hand more readily available to help the suffering alcoholic.
        Elected representatives of district home groups, the <a
          href="/service-opportunities#intergroup-rep"
          >Intergroup Representative</a
        > and <a href="/service-opportunities#gsr"
          >General Service Representative</a
        >, participate in governance of these organizations at regular meetings,
        while countless volunteers help spread the message and help other
        alcoholics through their work on Intergroup and District service
        committees.
      </p>

      <p>Committees run by District include:</p>

      <ul>
        <li>Archives</li>
        <li>Cooperation with Intergroup</li>
        <li>
          Cooperation with the Professional Community/Public Information
          (CPC/PI)
        </li>
        <li>Corrections</li>
        <li>Finance &amp; Budget</li>
        <li>Grapevine</li>
        <li>Hospitals and Institutions</li>
      </ul>

      <p>
        Information about how to get involved in a committee can be found on our


        <a href="/service-opportunities">Service Opportunities</a> page.
      </p>

      <p>Services provided by Intergroup include:</p>

      <ul>
        <li>Coordinate issues of intergroup concern</li>
        <li>
          Plan and financially support district intergroup activities (e.g.
          Christmas and other marathons, Founder’s Day celebration, and other
          fellowship events)
        </li>
        <li>
          Run the <a href="/contact#intergroup-district">central office</a>
           (store literature and chips for sale, answer calls, maintain records,
          store supplies for events, meeting space for AA business)
        </li>
        <li>Answer the central phone line: (434) 293-6565</li>
        <li>
          Answer the central email: <a href="mailto:aacharlottesville@gmail.com"
            >aacharlottesville@gmail.com</a
          >
        </li>
        <li>
          Maintain the <a href="https://aaheartofva.org">aaheartofva.org</a>
           website
        </li>
        <li>Maintain a current list of district meetings</li>
        <li>Supply literature and chips to district groups</li>
      </ul>
    </section>
  </div>
</Layout>
