---
import Layout from '../layouts/BaseLayout.astro'
import '../assets/page-layout.css'

export const title = 'Archives of the AA Heart of Virginia District'
---

<Layout title={title}>
  <div class="main-content surface-primary">
    <h1>{title}</h1>
  </div>
</Layout>
