---
import Layout from "../layouts/BaseLayout.astro";

export const title = "Contact";
---

<Layout title={title}>
  <div class="main-content surface-primary">
    <h1>{title}</h1>
    <blockquote class="topical-quote">
      “I am responsible… When anyone, anywhere, reaches out for help, I want the
      hand of A.A. always to be there. And for that: I am responsible.”
      <footer>
        — <cite>AA’s Responsibility Statement</cite>
      </footer>
    </blockquote>
    <aside>
      <div class="toc">
        <h3>Contents</h3>
        <ul>
          <li>
            <a href="#phone-email">Call or Email</a>
          </li>
          <li>
            <a href="#intergroup-district">Intergroup and District</a>
          </li>
          <li>
            <a href="#aa-virginia">AA in Virginia</a>
          </li>
          <li>
            <a href="#aa-globally">AA Globally</a>
          </li>
        </ul>
      </div>
    </aside>

    <section id="phone-email">
      <h2>Call or Email</h2>
      <p>
        (434)&nbsp;293-6565 • <a href="mailto:">aacharlottesville@gmail.com</a>
      </p>
      <p>
        Call or email Heart of Virginia Intergroup any time of the day
        regarding…
      </p>
      <ul>
        <li>Help for suffering alcoholics</li>
        <li>Information about AA and meetings</li>
        <li>Reporting meeting or group changes</li>
        <li>Reporting upcoming AA special events</li>
        <li>Volunteering for service on an Intergroup committee</li>
        <li>Contacting Intergroup officers and committees</li>
        <li>
          Contacting group GSRs and the <a
            href="/aa-lingo#district-committee-member"></a>DCM
        </li>
        <li>Ordering chips or literature</li>
        <li>Information and referrals for professionals</li>
      </ul>
      <p>
        An AA member will often answer the phone, but if no AA member is
        available, our answering service will respond. In that case you can
        request that an AA member call you back.
      </p>
    </section>

    <section id="intergroup-district">
      <h2>Intergroup and District</h2>
      <p>
        AA is represented in the Heart of Virginia District by a collaboration
        of an Intergroup committee and District Service Committee (DSC). For
        information about the roles and functions of these, see our <a
          href="/about">About</a
        > page. For information about becoming involved in them, see our <a
          href="/service-opportunities">Service Opportunities</a
        > page. For details about meetings of Intergroup and DSC, see our <a
          href="/events">Events</a
        >
         page.
      </p>

      <table class="inner-borders head-col-align-start">
        <tr>
          <th class="w-1/3">Website</th>
          <td><a href="https://aaheartofva.org">https://aaheartofva.org</a></td>
        </tr>
        <tr>
          <th>Office</th>
          <td>
            <address>
              <strong>Heart of Virginia District Intergroup</strong><br />
               1807 Emmet Street N, Suite 3-A<br />
               Charlottesville VA 22901
            </address>
          </td>
        </tr>
        <tr>
          <th>Mail</th>
          <td>
            <address>
              <strong>Heart of Virginia District Intergroup</strong><br />
               PO Box 6911<br />
               Charlottesville, VA 22906<br />
            </address>

            <address>
              <strong>Heart of Virginia District Service Committee</strong><br
              />
               PO Box 7552<br />
               Charlottesville, VA 22906
            </address>
          </td>
        </tr>
        <tr>
          <th>Contributions</th>
          <td>Please send by mail to the addresses above.</td>
        </tr>
        <tr>
          <th>Contacts</th>
          <td>
            <ul>
              <li>Intergroup phone: (434) 293-6565</li>
              <li>
                Intergroup email: <a href="mailto:aacharlottesville@gmail.com"
                  >aacharlottesville@gmail.com</a
                >
              </li>
              <li>
                District email (DCM): <a href="dcm9@aavirginia.org"
                  >dcm9@aavirginia.org</a
                >
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </section>

    <section id="aa-virginia">
      <h2>AA in Virginia</h2>
      <p>
        AA is represented and coordinated at the state level by the Virginia
        Area Committee (VAC). For more information about the VAC, please refer
        to <a href="https://aavirginia.org">its website</a>.
      </p>
      <table class="inner-borders head-col-align-start">
        <tr>
          <th class="w-1/3">Website</th>
          <td><a href="https://aavirginia.org">https://aavirginia.org</a></td>
        </tr>
        <tr>
          <th>Mail</th>
          <td>
            <address>
              <strong>Virginia Area Committee</strong><br />
               PO Box 1130<br />
               Locust Grove, VA 22508
            </address>
          </td>
        </tr>
        <tr>
          <th>Contributions</th>
          <td>
            <p>
              Please send 7th Tradition contributions by mail to the address
              above.
            </p>
            <p>
              Contributions can also be made <a
                href="https://aavirginia.org/member-services/contributions/"
                >online</a
              >.
            </p>
          </td>
        </tr>
        <tr>
          <th>Contacts</th>
          <td>
            <ul>
              <li>
                VAC Delegate: <a href="mailto:delegate@aavirginia.org"
                  >delegate@aavirginia.org</a
                >
              </li>
              <li>
                <a href="https://aavirginia.org/vac-contacts/"
                  >VAC officers, committee chairs</a
                >
              </li>
              <li>
                <a
                  href="https://aavirginia.org/member-services/virginia-area-districts/"
                  >All Virginia district committees</a
                >
              </li>
              <li>
                <a
                  href="https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/"
                  >All Virginia intergroup committees</a
                >
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </section>

    <section id="aa-globally">
      <h2>AA Globally</h2>

      <p>
        AA is represented and coordinated at the global level by the <a
          href="https://www.aa.org/aa-gso">General Service Office (GSO)</a
        > and AA World Services, including publication of <a
          href="https://www.aagrapevine.org/">AA Grapevine</a
        > and <a href="https://www.aalavina.org/">La Viña</a>. For more
        information about GSO, refer to <a href="https://www.aa.org"
          >its website, aa.org</a
        >. For more information about how Heart of Virginia District home
        groups, Intergroup, and District Service Committee relate to GSO, see
        our <a href="/about">About</a>
         page.
      </p>

      <table class="inner-borders head-col-align-start">
        <tr>
          <th class="w-1/3">Website</th>
          <td>
            <a href="https://www.aa.org">https://www.aa.org</a>
            <a href="https://www.aagrapevine.org">https://www.aagrapevine.org</a
            >
            <a href="https://www.aalavina.org">https://www.aalavina.org</a>
          </td>
        </tr>
        <tr>
          <th>Office</th>
          <td>
            <address>
              <strong>General Service Office and Grapevine</strong><br />
               475 Riverside Drive at West 120th St.<br />
               11th and 8th Floors<br />
               New York, NY 10115
            </address>
          </td>
        </tr>
        <tr>
          <th>Mail</th>
          <td>
            <address>
              <strong>General Service Office</strong><br />
               P.O. Box 459<br />
               Grand Central Station<br />
               New York, NY 10163
            </address>

            <address>
              <strong>Grapevine</strong><br />
               PO Box 2516<br />
               Williamsport, PA 17703
            </address>

            <address>
              <strong>La Viña</strong><br />
               PO Box 1261<br />
               Williamsport, PA 17703
            </address>
          </td>
        </tr>
        <tr>
          <th>Contributions</th>
          <td>
            <p>Please send 7th tradition contributions by mail to:</p>
            <address>
              <strong>Post Office Box 2407</strong><br />
               James A Farley Station<br />
               New York, NY 10116-2407
            </address>
            <p>
              <strong>NOTE:</strong> Please do not send contributions to the GSO
              Grand Central Station address.
            </p>
            <p>
              Credit card contributions can also be made by phone at (212)
              870-3023 and online.
            </p>
          </td>
        </tr>
        <tr>
          <th>Contacts</th>
          <td>
            <ul>
              <li>GSO phone: (212) 870-3400</li>
              <li>
                <a href="https://www.aa.org/contact-gso">GSO contacts webpage</a
                >
              </li>
              <li>Grapevine/La Viña phone: (212) 870-3018</li>
              <li>
                Grapevine/La Viña reps email: <a
                  href="mailto:gvrc@aagrapevine.org">gvrc@aagrapevine.org</a
                >
              </li>
              <li>
                <a href="https://www.aagrapevine.org/contact-us"
                  >Grapevine/La Viña contacts webpage</a
                >
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </section>
  </div>
</Layout>
