---
import Layout from '../layouts/BaseLayout.astro'

export const title = 'Contact'
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>

    <section id="phone-email">
      <h2>Call or email 24/7</h2>

      <p>Hotline: (434) 293-6565</p>
      <p>aacharlottesville@gmail.com</p>

      <h3>Regarding</h3>
      <ul>
        <li>Help for suffering alcoholics</li>
        <li>Information about AA and meetings</li>
        <li>Reporting meeting or group changes</li>
        <li>Ordering chips or literature</li>
        <li>Information and referrals for professionals</li>
      </ul>

      <p>
        An AA member will often answer the phone, but if no AA member is
        available, our answering service will respond. In that case you can
        request that an AA member call you back.
      </p>

      <aside>
        <a href="">Volunteer to answer phones</a>
        <hr />
        <p>
          Press and Media, please refer to the <a
            href="https://www.aa.org/press-media"
            >Alcoholics Anonmyous World Services Press and Media page</a
          > for contact information.
        </p>
      </aside>
    </section>

    <section id="office-address">
      <h2>Office</h2>

      <address>
        Heart of Virginia District Intergroup <br />
        1807 Emmet Street N, Suite 3-A <br />
        Charlottesville VA 22901 <br />
      </address>

      <a href="">Volunteer for office service</a>
    </section>

    <section id="mailing-address">
      <h2>Mail</h2>

      <address>
        Heart of Virginia District Intergroup <br />
        PO Box 6911 <br />
        Charlottesville, VA 22906 <br />
      </address>

      <address>
        Heart of Virginia District Service Committee <br />
        PO Box 7552 <br />
        Charlottesville, VA 22906
      </address>
    </section>

    <section id="aa-regionally-globally">
      <h2>AA Regionally and Globally</h2>

      <section id="aa-virginia">
        <h3>
          <a href="https://aavirginia.org/"
            >Virginia Area Committee of AA (V.A.C.)</a>
        </h3>
        <address>
          Virginia Area Committee <br />
          PO Box 1130 <br />
          Locust Grove, VA 22508
        </address>
        <ul>
          <li>
            <a href="https://aavirginia.org/vac-contacts/">V.A.C. Contacts</a>
          </li>
          <li>
            <a
              href="https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/"
              >All Virginia Intergroup committes</a
            >
          </li>
        </ul>
      </section>

      <section id="aa-world">
        <h2>Alcoholics Anonymous World Services</h2>
        <address>
          General Service Office <br />
          P.O. Box 459 <br />
          Grand Central Station <br />
          New York, NY 10163
        </address>
      </section>
    </section>
  </main>
</Layout>
