---
import Layout from '../layouts/BaseLayout.astro'
import '../assets/page-layout.css'

export const title = 'Events'
---

<Layout title={title}>
	<div class="main-content surface-primary">
		<h1>{title}</h1>
	</div>
</Layout>
