---
import Layout from '../layouts/BaseLayout.astro'
import MeetingsSoon from '../components/MeetingsSoon.astro'
import '../assets/home-layout.css'

export const title = 'Home'
---

<Layout title="AA Heart of Virginia, District No. 9">
  <div class="layout">
    <aside id="preamble">
      <blockquote>
        <div class="Box position-block">
          <span class="left-quote positioned">“</span>
          <p>
            Alcoholics Anonymous is a fellowship of people who share their
            experience, strength and hope with each other that they may solve
            their common problem and help others to recover from alcoholism.
          </p>
          <p>
            The only requirement for membership is a desire to stop drinking.
          </p><span class="right-quote positioned">”</span>
        </div>
        <footer>
          —<cite><a href="https://www.aa.org/aa-preamble">AA Preamble</a></cite>
        </footer>
      </blockquote>
    </aside>

    <MeetingsSoon />

    <section id="regions-served">
      <h2>Regions Served</h2>
      <p class="vac-header white-box-1">
        District (No. 9) of <a href="/aa-lingo#vac"
          >The Virginia Area Committee of A.A (V.A.C.)</a
        >
      </p>
      <ul class="regions-list">
        <li>Charlottesville</li>
        <li>Albemarle County</li>
        <li>Green County</li>
        <li>Madison County</li>
        <li>Orange County</li>
        <li>Louisa County</li>
        <li>Nelson County</li>
        <li>Buckingham County</li>
      </ul>
      <p class="other-va-regions">
        Websites and contact information for other areas of Virginia can be
        found on the <a
          href="https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/"
          >Virginia Alchoholics Anonymous website</a
        >
      </p>
    </section>

    <section id="new-to-aa">
      <h2>New to AA</h2>
      <p id="is-aa-for-you" class="white-box-1">
        <a href="https://www.aa.org/aa-you">Is A.A. for you?</a>
        <a href="https://www.aa.org/self-assessment"><iconify-icon icon="tabler:list-check"></iconify-icon>Take a self&#8209;assessment</a>
      </p>
      <ul>
        <li><a href="https://www.aa.org/what-is-aa">How AA works</a></li>
        <li><a href="/meetings">Find a meeting</a></li>
        <li><a href="/contact#phone-email">Contact a member</a></li>
        <li>
          <a href="https://www.aa.org/information-about-meetings"
            >What to expect at an A.A. meeting</a
          >
        </li>
        <li>
          <a href="/new-to-aa#introductory-literature"
            >Introductory literature</a
          >
        </li>
      </ul>
      <footer>
        <a href="/new-to-aa" class="more">More</a>
      </footer>
    </section>


    <section id="other-situations">
      <h2>Are you…</h2>
      <ul id="situation-list">
        <li class="white-box-1">
          <a href="https://www.aa.org/aa-family-friend"
            ><iconify-icon icon="fluent-emoji-high-contrast:people-hugging"
            ></iconify-icon>Concerned about a friend or family member?</a
          >
        </li>
        <li class="white-box-1">
          <a href="https://www.aa.org/aa-for-professionals"
            ><iconify-icon icon="healthicons:social-work"></iconify-icon>A
            professional working with alcholics?</a
          >
        </li>
        <li class="white-box-1">
          <a href="https://aavirginia.org/treatment/"
            ><iconify-icon icon="icon-park-solid:pull-door"
            ></iconify-icon>Helping someone leaving treatment?</a
          >
        </li>
        <li class="white-box-1">
          <a href="https://www.aa.org/press-media"
            ><iconify-icon icon="fluent-emoji-high-contrast:newspaper"
            ></iconify-icon>A member of the press or media?</a
          >
        </li>
      </ul>
    </section>

    <section id="member-resources">
      <header>
        <h2>Member Resources</h2>
        <p id="daily-reflection" class="white-box-1">
          <a href="https://www.aa.org/daily-reflections">
            <iconify-icon icon="uil:book-reader"></iconify-icon>Today's daily
            reflection (June 6)
          </a>
        </p>
      </header>
      <section>
        <h3 id="general-resources">General</h3>
        <ul>
          <li>
            <a href="https://www.aa.org/resources/literature">AA literature</a>
          </li>
          <li><a href="./aa-lingo">AA glossary</a></li>
          <li>
            <a href="https://www.aa.org/aa-grapevine-la-vina"
              >AA Grapevine and La Viña</a
            >
          </li>
          <li>
            <a href="https://aavirginia.org/member-services/"
              >Virginia AA member services</a
            >
          </li>
          <li>
            <a href="/archives">Archives of AA Heart of Virginia District</a>
          </li>
        </ul>
      </section>
      <section id="resources-for-service-positions">
        <h3>For Service Positions</h3>
        <ul>
          <li><a href="/service-opportunities#group-treasurer">Group Treasurer</a></li>
          <li><a href="/service-opportunities#intergroup-rep">Intergroup Representative</a></li>
          <li><a href="/service-opportunities#gsr">General Service Representative (GSR)</a></li>
        </ul>
      </section>
      <section id="related-organizations">
        <h3>Related Organizations</h3>
        <ul>
          <li>
            <a href="https://www.aa.org/"
              >Alcoholics Anonymous World Services (aka G.S.O.)</a
            >
          </li>
          <li>
            <a href="https://aavirginia.org/"
              >Virginia Area Committee of A.A. (V.A.C.)</a
            >
          </li>
          <li>
            <a
              href="https://aavirginia.org/member-services/virginia-intergroups-aa-hotlines/"
              >Other Virginia Districts
            </a>
          </li>
        </ul>
      </section>
    </section>
  </div>
</Layout>
