---
import Layout from '../layouts/BaseLayout.astro'

export const title = 'Services Opportunities'
---

<Layout title={title}>
  <div class="content-bg">
    <h1>{title}</h1>

    <section id="member-to-member">
      <h2>Member to Member</h2>
      <h3>Fellowship</h3>
      <p>
        Keep in mind that your presence at meetings and events is a form of
        service to other alcoholics! Through sharing your experience, strength,
        and hope at meetings and events you contribute to and continue AA's
        tradition of fellowship.
      </p>
      <p>
        When you notice a newcomer at an AA gathering, make an effort to welcome
        them. Some AA groups have a custom of presenting newcomers with phone
        numbers of members in attendance. Participating in this, or reaching out
        personally to offer help and fellowship to newcomers, is also a crucial
        form of service.
      </p>
      <h3>Sponsorship</h3>
      <p>
        The AA General Service Conference-approved pamplet <a
          href="https://www.aa.org/questions-and-answers-sponsorship"
          >"Questions and Answers on Sponsorship"</a
        > states:
      </p>
      <blockquote>
        "Essentially, the process of sponsorship is this: An alcoholic who has
        made some progress in the recovery program shares that experience on a
        continuous, individual basis with another alcoholic who is attempting to
        attain or maintain sobriety through A.A."
      </blockquote>

      <p>
        Among other forms of familiarizing a sponsee with the program of AA and
        the principles of living a sober life, a sponsor might guide their
        sponsee through the 12 steps.
      </p>

      <p>
        If you think you might be ready to become a sponsor, we welcome you to
        read <a href="https://www.aa.org/questions-and-answers-sponsorship"
          >"Questions and Answers on Sponsorship"</a
        > for guidance.
      </p>
    </section>

    <section id="home-group">
      <h2>Home Group</h2>
      <p>In AA, a home group is</p>

      <ul>
        <li>Greet</li>
        <li>Setup and clean up</li>
        <li>Make coffee</li>
      </ul>

      <section id="group-treasurer">
        <h3>Group Treasurer</h3>
      </section>

      <section id="intergroup-rep">
        <h3>Intergroup Representative</h3>
        <p>
          This role is an elected position, to be the voice of an AA Group
          Conscience by attending monthly Intergroup meetings and participating
          in discussions and votes. It is the link between a home group and the
          Heart of Virginia District Intergroup.
        </p>
        <p>
          to the
          extent possible, obtain advance guidance from their home group about
          matters to be considered at JDI meetings; report back to their home
          group about the meetings and upcoming JDI events and activities; and,
          to the extent possible, participates in Intergroup committees and
          activities. The Representative’s roles and responsibilities are
          enumerated in paragraph D, Section VI, of Intergroup’s Bylaws.
        </p>
      </section>

      <section id="gsr-rep">
        <h3>General Service Representative (G.S.R.)</h3>
      </section>
    </section>

    <section id="local">
      <h2>Local: Intergroup and District Service Committee</h2>

      <section id="answer-phones">
        <h3>Volunteer to answer the phone in the Intergroup central office</h3>

        <p>
          Heart of Virginia District Intergroup is responsible for a local AA
          Hotline (434-293-6565), sometimes the first contact a suffering
          alcoholic has with AA. We prefer that one of our members, rather than
          the answering service, answer the phones whenever possible.
        </p>

        <p>
          Volunteers answer the phone in the Central Office, located on Emmet
          Street in Charlottesville, handling live 12 Step calls, community
          service referrals, and/or directions to or times of local meetings.
        </p>

        <p>
          Typically, volunteer shifts occur every week for two-hour time
          periods, but if a weekly obligation is too much for you, volunteer for
          rotating weekend on-call phone Coverage. This runs from 4:30 pm Friday
          afternoon through 9:00 am Monday morning and falls to you once every 2
          or 3 months, depending on the number of volunteers in the weekend
          pool.
        </p>

        <p>
          If you want to volunteer, email aacharlottesville@gmail.com with your
          phone, email address, and times you’re available to answer phones in
          the office. The Office Manager will coordinate the dates with you, so
          you can plan your time.
        </p>
      </section>

      <section id="12-step-call">
        <h3>
          Volunteer to take a 12 Step call forwarded from the phone hotline
        </h3>
      </section>

      <section id="intergroup-committees">
        <h3>Get involved in an Intergroup committee</h3>
        <ul>
          <li>Activities</li>
          <li>Archives</li>
          <li>Public Information</li>
          <li>Correctional Facilities</li>
          <li>Grapevine / La Viña</li>
          <li>Hospitals and Institutions</li>
        </ul>
      </section>
    </section>

    <secton id="regional">
      <h2>Regional: Virginia Area Committee</h2>
    </secton>
  </div>
</Layout>
