---
import Layout from "../layouts/BaseLayout.astro";

export const title = "Service Opportunities";
---

<Layout title={title}>
  <div class="main-content surface-primary">
    <h1>{title}</h1>
    <blockquote class="topical-quote">
      “A.A. service is anything whatever that helps us to reach a fellow
      sufferer — ranging all the way from the Twelfth Step itself to a ten-cent
      phone call and a cup of coffee…”
      <footer>
        — <cite>AA’s Legacy of Service</cite>
      </footer>
    </blockquote>
    <aside>
      <div class="toc">
        <h3>Contents</h3>
        <ul>
          <li>
            <a href="#member-to-member">Member to Member</a>
            <ul>
              <li><a href="#fellowship">Fellowship</a></li>
              <li><a href="#sponsorship">Sponsorship</a></li>
            </ul>
          </li>
          <li>
            <a href="#home-group">Home Group</a>
            <ul>
              <li><a href="#group-treasurer">Group Treasurer</a></li>
              <li><a href="#intergroup-rep">Intergroup Representative</a></li>
              <li><a href="#gsr">General Service Representative</a></li>
            </ul>
          </li>
          <li>
            <a href="#local">Intergroup and District Service Committee</a>
            <ul>
              <li><a href="#answer-phones">Answer the Phone Hotline</a></li>
              <li><a href="#12-step-call">Take a 12th Step Call</a></li>
              <li>
                <a href="#intergroup-committees">Join an Intergroup Committee</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
    <section id="member-to-member">
      <h2>Member to Member</h2>
      <h3 id="fellowship">Fellowship</h3>
      <p>
        Keep in mind that your presence at meetings and events is a form of
        service to other alcoholics! Through sharing your experience, strength,
        and hope at meetings and events, you contribute to and continue AA&#39;s
        tradition of fellowship.
      </p>
      <p>
        When you notice a newcomer at an AA gathering, make an effort to welcome
        them. Some AA groups have a custom of presenting newcomers with phone
        numbers of members in attendance. Participating in this, or reaching out
        personally to offer help and fellowship to newcomers, is also a crucial
        form of service.
      </p>
      <h3 id="sponsorship">Sponsorship</h3>
      <p>
        The AA General Service Conference-approved pamplet <a
          href="https://www.aa.org/questions-and-answers-sponsorship"
          >"Questions and Answers on Sponsorship"</a
        > states:
      </p>
      <blockquote>
        "Essentially, the process of sponsorship is this: An alcoholic who has
        made some progress in the recovery program shares that experience on a
        continuous, individual basis with another alcoholic who is attempting to
        attain or maintain sobriety through A.A."
      </blockquote>

      <p>
        Among other forms of familiarizing a sponsee with the program of AA and
        the principles of living a sober life, a sponsor often guides their
        sponsee through the 12 steps.
      </p>

      <p>
        If you think you might be ready to become a sponsor, we welcome you to
        read <a href="https://www.aa.org/questions-and-answers-sponsorship"
          >"Questions and Answers on Sponsorship"</a
        > for guidance, in addition to asking for guidance from your own sponsor
        and other members who have sponsored.
      </p>
    </section>

    <section id="home-group">
      <h2>Home Group</h2>
      <p>
        A home group is an AA group in whose "group conscience" you wish to
        participate, by regularly attending meetings, being involved in group
        decisions, and being of service to attendees. Some of the ways to serve
        a home group include:
      </p>

      <ul>
        <li>Greet members as they arrive</li>
        <li>Set up and clean up chairs, literature, etc.</li>
        <li>Make coffee</li>
        <li>Chair meetings</li>
        <li>
          Become a group officer, or "trusted servant"
          <ul>
            <li>Chairperson</li>
            <li>Secretary</li>
            <li><a href="#group-treasurer">Treasurer</a></li>
            <li>Literature Representative</li>
            <li>Grapevine / La Viña Representative (GvR)</li>
            <li><a href="#intergroup-rep">Intergroup Representative</a></li>
            <li><a href="#gsr">General Service Representative (GSR)</a></li>
          </ul>
        </li>
      </ul>

      <p>
        For more information about AA home groups, including how to begin a new
        group, refer to the GSO website page about The <a
          href="https://www.aa.org/the-aa-group">AA Group</a
        >.
      </p>

      <section id="group-treasurer">
        <h3>Group Treasurer</h3>
        <aside class="resources">
          <h4>Resources</h4>
          <ul>
            <li>
              <a href="https://www.aa.org/aa-group-treasurer"
                >The AA Group Treasurer</a
              >
            </li>
            <li>
              <a href="https://www.aa.org/aa-guidelines-finance"
                >AA Guidelines on Finance</a
              >
            </li>
            <li>
              <a
                href="https://www.aa.org/self-support-where-money-and-spirituality-mix"
                >Self-Support: Where Money and Spirituality Mix</a
              >
            </li>
            <li>
              <a
                href="https://www.aa.org/seventh-tradition-fact-sheet-your-seventh-tradition-contributions"
                >Seventh Tradition Fact Sheet - Your Seventh Tradition
                Contributions</a
              >
            </li>
            <li>
              <a href="https://www.aa.org/aa-contributions-self-support"
                >Contributions and Self Support</a
              >
            </li>
          </ul>
        </aside>
        <p>
          A.A.’s Seventh Tradition states: <em
            >“Every A.A. group ought to be fully self-supporting, declining
            outside contributions.”</em
          > Members provide financial support through voluntary donations at
          meetings.
        </p>

        <p>
          As a group Treasurer, a position elected by home group members, you
          manage a group's donations and its banking and then direct funds to
          meet group expenses, such as meeting space, coffee, and literature.
        </p>

        <p>
          When a surplus of funds exists, after covering essential expenses,
          group Treasurers also regularly donate to area and global AA service
          entities to support the work of AA at all levels.
        </p>

        <ul>
          <li>Heart of Virginia Intergroup</li>
          <li>Heart of Virginia District Service Committee</li>
          <li>
            <a href="https://aavirginia.org/">Area Committee Committee</a>
          </li>
          <li>
            <a href="https://aa.org">AA General Service Office (G.S.O)</a>
          </li>
        </ul>

        <p>
          Mailing addresses, phone numbers, and online giving links for these
          entities can be found on our <a href="/contact">Contact</a> page. When
          making group contributions by check, please include your District
          Number, Group Number and Group Name in the memo section.
        </p>
      </section>

      <section id="literature-rep">
        <h3>Literature Representative</h3>
        <aside class="resources">
          <h4>Resources</h4>
          <ul>
            <li>
              <a href="https://www.aa.org/resources/literature"
                >Browse and search AA literature</a
              >
            </li>
            <li>
              <a href="https://onlineliterature.aa.org/"
                >Purchase AA literature online</a
              >
            </li>
            <li>
              <a href="https://www.aa.org/aa-guidelines-literature-committees"
                >AA Guidelines on Literature Committees</a
              >
            </li>
          </ul>
        </aside>

        <p>
          As a Literature Representative, you ensure that your group has on hand
          AA literature for free distribution or sale at meetings, such as
          pamphlets on a variety of specific matters related to AA and
          alcoholism, and copies of the <a
            href="https://www.aa.org/the-big-book">Big Book</a
          >, <a href="https://www.aa.org/twelve-steps-twelve-traditions"
            >Twelve Steps and Twelve Traditions</a
          >, <a href="https://www.aa.org/living-sober-book">Living Sober</a>,
          and <a href="https://www.aa.org/daily-reflections-0"
            >Daily Reflections</a
          >. This is done in conjunction with your group’s Treasurer, in order
          to make use of your group's self-supporting 7th tradition donations.
          If a separate Grapevine Representative does not exist for your group,
          as a Literature Representative, you might also consider taking on the
          responsibilities of that role.
        </p>
        <p>
          AA GSO provides a complete <a
            href="https://www.aa.org/resources/literature"
            >list of its literature</a
          > for browsing and searching on its main website, as well as an <a
            href="https://onlineliterature.aa.org/"
            >online store for purchase of literature</a
          >, display racks, and other materials for display at meetings, such as
          banners printed with the 12 steps and popular AA aphorisms.
        </p>
      </section>

      <section id="grapevine-rep">
        <h3>Grapevine Representative (GvR)</h3>
        <aside class="resources">
          <h4>Resources</h4>
          <ul>
            <li>
              <a
                href="https://www.aagrapevine.org/get-involved/become-grapevine-rep"
                >Register online to become a Grapevine Representative</a
              >
            </li>
            <li>
              <a href="https://www.aagrapevine.org/gvr-resources"
                >GvR Resources (AA Grapevine website)</a
              >
            </li>
            <li>
              <a href="https://www.aagrapevine.org/grapevine-fact-sheet"
                >AA Grapevine Fact Sheet (AA Grapevine website)</a
              >
            </li>
            <li>
              <a href="https://www.aagrapevine.org/get-involved"
                >Get Involved (AA Grapevine website)</a
              >
            </li>
            <li>
              <a href="https://www.youtube.com/aagrapevine"
                >AA Grapevine Youtube channel</a
              >
            </li>
          </ul>
        </aside>

        <p>
          As a Grapevine Representative (GvR), you ensure that copies of the <a
            href="https://www.aagrapevine.org/magazine">AA Grapevine magazine</a
          > are available and displayed at meetings of your group. AA Grapevine
          is the international journal of Alcoholics Anonymous, and spreads the
          message of AA and the experience, strength and hope of its members
          through a monthly subscription magazine. AA Grapevine also provides a
          number of other additional resources, such as a newsletter, a <a
            href="https://www.aagrapevine.org/podcast">podcast</a
          >, and a <a href="https://www.youtube.com/aagrapevine"
            >YouTube channel</a
          >.
        </p>

        <p>
          If your group doesn't have a Grapevine representative, you can become
          one yourself by volunteering or getting elected to the position by
          your homegroup. GvRs may <a
            href="https://www.aagrapevine.org/get-involved/become-grapevine-rep"
            >register online</a
          >. Or they may register by contacting the GvR coordinator at the
          Grapevine office:
        </p>

        <p>
          AA Grapevine<br />
           475 Riverside Drive, <br />
           New York, NY 10115<br />
        </p>

        <p>
          Phone: (212) 870-3018<br />
           Fax: (212) 870-3301 <br />
           E-mail: <a href="mailto:gvrc@aagrapevine.org">gvrc@aagrapevine.org</a
          ><br />
        </p>
      </section>

      <section id="intergroup-rep">
        <h3>Intergroup Representative</h3>
        <aside class="resources">
          <h4>Resources</h4>
          <ul>
            <li>
              <a
                href="https://jeffersonfob.files.wordpress.com/2021/06/role-of-intergroup-representative.pdf"
                >Role of the Intergroup Representative</a
              > (PDF)
            </li>
            <li>
              <a
                href="https://jeffersonfob.files.wordpress.com/2021/06/jdi-bylaws-v4.pdf"
                >Heart of Virginia Intergroup Bylaws</a
              > (PDF)
            </li>
            <li>
              <a
                href="https://www.aa.org/aa-guidelines-central-or-intergroup-offices"
                >AA Guidelines on Central or Intergroup Offices</a
              > (literature)
            </li>
          </ul>
        </aside>
        <p>
          As an Intergroup Representative, a position elected by home group
          members, you are the voice of your AA Group Conscience at monthly
          meetings of the Heart of Virginia District Intergroup, the umbrella
          organization facilitating communication and coordination among
          district home groups.
        </p>
        <p>
          Intergroup meetings are held at 7:00 PM on the first Thursday of the
          month at the Westminster Presbyterian Church, 450 Rugby Road, near the
          corners of Rugby Road and Gordon Avenue. Typically, meetings adjourn
          by 8:15 but may run longer.
        </p>

        <p>In addition to attending meetings, representative</p>

        <ul>
          <li>
            participate in discussions and votes on behalf of their home group;
          </li>
          <li>
            to the extent possible, obtain advance guidance from their home
            group about matters to be considered at Intergroup meetings;
          </li>
          <li>
            report back to their home group about the meetings and upcoming
            Intergroup events and activities;
          </li>
          <li>
            and, to the extent possible, participate in Intergroup committees
            and activities.
          </li>
        </ul>
        <p>
          A comprehensive description of an Intergroup Representative’s roles
          and responsibilities are enumerated in the <a
            href="https://jeffersonfob.files.wordpress.com/2021/06/jdi-bylaws-v4.pdf"
            >Heart of Virginia Intergroup Bylaws</a
          >.
        </p>
      </section>

      <section id="gsr">
        <h3>General Service Representative (G.S.R.)</h3>
        <aside class="resources">
          <h4>Resources</h4>
          <ul>
            <li>
              <a href="https://www.aa.org/gsr-general-service-representative"
                >G.S.R. General Service Representative</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1JS3eDCQMQybtRLAfEdnlDbVehbE8SpBg/view?usp=sharing"
                >Heart of Virginia District Service Manual</a
              >
            </li>
            <li>
              <a
                href="https://www.aa.org/aa-service-manualtwelve-concepts-world-services"
                >A.A. Service Manual/Twelve Concepts for World Services</a
              >
            </li>
            <li>
              <a
                href="https://www.aa.org/contents-general-service-representative-gsr-kit-list"
                >Contents of General Service Representative (G.S.R.) Kit List</a
              >
            </li>
          </ul>
        </aside>

        <p>
          As a General Service Representative (GSR), a position elected by home
          group members, you are the voice of your AA Group Conscience for the
          Heart of Virginia District, the Virginia Area Committee, and the AA
          General Service Conference, which is held in New York each April.
          Through your elected <a href="/aa-lingo#district-committee-member"
            >District Committee Member (DCM)</a
          > and the <a href="/aa-lingo#virginia-area-delegate"
            >Virginia Area Delegate</a
          >, you are the link between your group and the world of AA as a whole.
          You and your fellow GSRs all over the world are the key to AA unity.
        </p>

        <p>
          GSRs represent their home groups at Heart of Virginia District Service
          Committee meetings, which meet on the second Monday of the month at
          the Westminster Presbyterian Church, 450 Rugby Road, near the corners
          of Rugby Road and Gordon Avenue.
        </p>

        <p>
          A comprehensive description of a GSR’s roles and responsibilities are
          enumerated in <a
            href="https://www.aa.org/gsr-general-service-representative"
            >GSO’s pamphlet about the General Service Representative</a
          > and the <a
            href="https://drive.google.com/file/d/1JS3eDCQMQybtRLAfEdnlDbVehbE8SpBg/view?usp=sharing"
            >Heart of Virginia District Service Manual</a
          >. If you have any questions after reading these, please ask your <a
            href="/aa-lingo#district-committee-member">DCM</a
          >.
        </p>
      </section>

      <section id="local">
        <h2>Intergroup and District Service Committee</h2>

        <section id="answer-phones">
          <h3>Answer the Phone Hotline</h3>

          <aside class="resources">
            <h4>How to Volunteer</h4>
            <p>
              Email <a href="mailto:aacharlottesville@gmail.com"
                >aacharlottesville@gmail.com</a
              > with your phone, email address, and times you’re available to
              answer phones in the office. The Office Manager will coordinate
              the dates with you, so you can plan your time.
            </p>
          </aside>

          <p>
            Heart of Virginia District Intergroup is responsible for a local AA
            Hotline (434-293-6565), sometimes the first contact a suffering
            alcoholic has with AA. We prefer that one of our members, rather
            than the answering service, answer the phones whenever possible.
          </p>

          <p>
            Volunteers answer the phone in the Central Office, located on Emmet
            Street in Charlottesville, handling live 12 Step calls, community
            service referrals, and/or directions to or times of local meetings.
          </p>

          <p>
            Typically, volunteer shifts occur every week for two-hour time
            periods, but if a weekly obligation is too much for you, volunteer
            for rotating weekend on-call phone Coverage. This runs from 4:30 pm
            Friday afternoon through 9:00 am Monday morning and falls to you
            once every 2 or 3 months, depending on the number of volunteers in
            the weekend pool.
          </p>
        </section>

        <section id="12-step-call">
          <h3>Take a 12th Step Call</h3>

          <aside class="resources">
            <h4>How to Volunteer</h4>
            <p>
              If you want to be added to the 12th Step Call List, email <a
                href="mailto:aacharlottesville@gmail.com"
                >aacharlottesville@gmail.com</a
              > with your phone, email address, and times you are NOT available
              for calls. Also be sure to note whether or not you can give rides
              to meetings.
            </p>
          </aside>

          <p>
            If you can’t commit to a scheduled time for answering the phone
            hotline, consider having your name and number added to the 12 Step
            Call List (one each for men, women, or Spanish-speaking) to talk
            with a suffering alcoholic or provide them with a ride to a meeting.
          </p>

          <p>
            Either the answering service or a phone volunteer will screen
            incoming calls, and if a 12 Step conversation is requested, they
            will contact you. You can control the hours you’re available for
            calls, and whether you want to give rides or not.
          </p>
        </section>

        <section id="intergroup-committees">
          <h3>Join an Intergroup committee</h3>
          <ul>
            <li>
              <strong>Activities</strong>
              <p>
                Needs help planning and arranging picnics, dances, celebrations
                and other events. We are always happy to see more volunteers!
              </p>
            </li>
            <li>
              <strong>Archives</strong>
              <p>
                Needs help collecting and documenting records, documents,
                articles, memorabilia, newsletters, and group histories for our
                local and Virginia Area Archives.
              </p>
            </li>
            <li>
              <strong>Public Information</strong>
              <p>
                Needs help providing information about AA: what it is and isn’t
                to professionals who are in contact with alcoholics and to the
                general community. Volunteers are always needed with health
                fairs, talks and much more.
              </p>
            </li>
            <li>
              <strong>Correctional Facilities</strong>
              <p>
                Needs help working with local corrections institutions to carry
                the message of AA and bring meetings into local jails and
                prisons. We have four facilities within our district, including
                Albermarle County Regional Jail, Dillwyn Correctional
                Institution, Fluvanna Women’s and Blue Ridge Juvenile Detention
                Center. In particular we have a strong need for volunteers in
                the Juvenile facility. Read the attached flyer <a
                  href="https://jeffersonfob.files.wordpress.com/2023/01/how-i-can-help-webpage.pdf"
                  >How Can I help the Alcoholic in Jail or Prison</a
                > for more details. New volunteers must attend an orientation at
                the prison.
              </p>
            </li>
            <li id="intergroup-grapevine">
              <strong>Grapevine / La Viña</strong>
              <p>
                Become a Grapevine Representative for your group. You will
                inform the general A.A. community of the amazing availability
                and benefits of the Meeting in Media! Sign up at
                <a href="http://www.aagrapevine.org/get-involved"
                  >http://www.aagrapevine.org/get-involved</a
                >. When asked for specific regional information. please supply
                District 9, Area 71
              </p>
            </li>
            <li id="intergroup-hospitals-and-institutions">
              <strong>Hospitals and Institutions (aka H&I)</strong>
              <p>
                Needs help coordinating delivery of information and meetings to
                area hospitals and treatment centers. Volunteers are needed to
                help take meetings into 5 East at UVa Hospital and the Wellness
                Center. Help also is needed in carrying the message to local
                nursing homes and hospice to those with special needs.
              </p>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </div>
</Layout>
