---
import Layout from '../layouts/BaseLayout.astro'

export const title = 'Services Opportunities'
---

<Layout title={title}>
  <div class="content-bg">
    <h1>{title}</h1>

    <p>
      In addition to what is listed below, keep in mind that your presence at
      meetings is a form of service to other alcoholics. While you're there, you
      can serve in a number of ways, like making coffee, helping with set up and
      clean up, greeting, and of course sharing your experience, strength, and
      hope.
    </p>

    <section id="sponsor">
      <h2>Sponsor</h2>
      <a href="https://www.aa.org/questions-and-answers-sponsorship"
        >Questions and Answers on Sponsorship</a
      >
    </section>

    <section id="answer-phones">
      <h2>Volunteer to answer the phone in the central office</h2>
    </section>

    <section id="12-step-call">
      <h2>Volunteer to take a 12 Step call forwarded from the phone hotline</h2>
    </section>

    <section id="intergroup-committees">
      <h2>Get involved in an HoVa intergroup committee</h2>

      <ul>
        <li>Activities</li>
        <li>Archives</li>
        <li>Public Information</li>
        <li>Correctional Facilities</li>
        <li>Grapevine / La Viña</li>
        <li>Hospitals and Institutions</li>
      </ul>
    </section>

    <section id="intergroup-rep">
      <h2>Become a HoVa Intergroup Representative</h2>
    </section>

    <section id="gsr-rep">
      <h2>Become a General Service Representative (G.S.R.)</h2>
    </section>

    <section id="plan-an-event">
      <h2>Plan an AA event</h2>
    </section>
  </div>
</Layout>
