<footer class="SiteFooter">
  <div class="page-width">
    <section class="office-address">
      <h2>Office</h2>
      <address>
        Heart of Virginia District Intergroup Office<br />
        1807 Emmet Street N, Suite 3-A<br />
        Charlottesville VA 22901
      </address>
    </section>

    <section class="mailing-address">
      <h2>Mail</h2>
      <address>
        Heart of Virginia District Service Committee <br />
        PO Box 7552<br />
        Charlottesville, VA 22906
      </address>
      <address>
        Heart of Virginia District Intergroup<br />
        PO Box 6911<br />
        Charlottesville, VA 22906-023
      </address>
    </section>
    <hr>
    <p class="sponsored-by">
      Sponsored by the Heart of Virginia District Intergroup
    </p>
    <p class="copyright">© 2023 Heart of Virginia</p>
  </div>
</footer>
