---
---

<footer>
  <div class="page-width">
    <section class="office-address">
      <h2>Office</h2>
      <address>
        Heart of Virginia District Intergroup Office<br />
        1807 Emmet Street N, Suite 3-A<br />
        Charlottesville VA 22901
      </address>
    </section>

    <section class="mailing-address">
      <h2>Mail</h2>
      <address>
        Heart of Virginia District Service Committee <br />
        PO Box 7552<br />
        Charlottesville, VA 22906
      </address>
      <address>
        Heart of Virginia District Intergroup<br />
        PO Box 6911<br />
        Charlottesville, VA 22906-023
      </address>
    </section>
    <hr>
    <p class="sponsored-by">
      Sponsored by the Heart of Virginia District Intergroup
    </p>
    <p class="copyright">© 2016 Heart of Virginia</p>
  </div>
</footer>

<style>
  footer {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding-block: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0, 5);
  }
  .page-width {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-between;
  }

  .page-width > * {
    flex-basis: fit-content;
  }

  .office-address,
  .mailing-address {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
  }

  .office-address {
    flex-grow: 1;
  }

  .mailing-address {
    flex-grow: 2;
  }

  .sponsored-by {
    flex-basis: 50%;
  }

  h2 {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  :not(h2) {
    color: #ddd;
    font-size: 0.875rem;
  }

  .mailing-address {
    flex-grow: 2;
  }

  section {
    margin: 0;
  }

  hr {
    flex-basis: 100% !important;
    border-top: 1px solid black;
    margin-bottom: 1rem;
  }

  .sponsored-by, .copyright {
    font-size: 0.875rem;
    font-family: var(--font-family-sans);
    font-weight: 300;
  }
</style>
