---
import MainNav from './MainNav.astro'
---

<header class="SiteHeader">
  <div class="masthead">
    <div class="page-width">
      <a class="logo" href="/">
        <svg
          class="aa-symbol"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 384"
        >
          <path
            d="M336.854 284.783C354.035 258.014 364 226.171 364 192c0-94.993-77.007-172-172-172S20 97.007 20 192c0 34.17 9.965 66.014 27.146 92.783L192 22l144.854 262.783Zm-.171.266H47.317C77.927 332.547 131.291 364 192 364c60.71 0 114.072-31.453 144.683-78.951ZM192 63.429 80.862 265.05h222.276L192 63.429ZM192 384C85.961 384 0 298.039 0 192S85.961 0 192 0s192 85.961 192 192-85.961 192-192 192Z"
          ></path>
        </svg>
        <div class="district-name">
          <abbr title="Alcoholics Anonymous">AA</abbr>
          <span>Heart of Virginia</span>
        </div>
        <p class="district-regions">Charlottesville &amp; Central Virginia</p>
      </a>
      <MainNav />
    </div>
  </div>
  <div class="page-width submasthead">
    <p class="contact-header">
      <strong><iconify-icon icon="mingcute:phone-fill"></iconify-icon>
        Hotline 24/7</strong> <i>•</i> <span>(434) 293-6565</span>
    </p>
  </div>
</header>
