---
---

<section id="meetings-soon">
  <h2>Meetings Happening Soon</h2>
  <div>
    <swiper-container
      slides-per-view="2"
      space-between="16"
      pagination="true"
      navigation="true"
      pagination-clickable="true"
      centered-slides="true"
    >
    </swiper-container>
  </div>
  <!-- <div><a href="https://www.aa.org/meeting-guide-app">Meeting Guide App</a></div>
  <a href="/meetings">All meetings</a> -->
</section>

<script>
  import { init } from '../assets/MeetingsSoon.js'
  init()
</script>
