---
const { title, url } = Astro.props
---

<details role="list" class="MeetingsNav position-block">
  <summary aria-haspopup="listbox" tabindex="0" role="button">
    <span class="disclose-summary">{title}</span>
  </summary>
  <section
    role="listbox"
    aria-labelledby="meetings-nav-title"
    aria-orientation="vertical"
    class="dropdown"
  >
    <h1 id="meetings-nav-title" class="sr-only">Filter Meetings List</h1>
    <section class="weekday-filter">
      <form>
        <fieldset>
          <legend><h2>Weekday:</h2></legend>
          <div role="radiogroup">
            <label class="weekday">
              <input type="radio" name="weekday" value="0" />
              <abbr title="Sunday">S</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="1" />
              <abbr title="Monday">M</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="2" />
              <abbr title="Tuesday">T</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="3" />
              <abbr title="Wednesday">W</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="4" />
              <abbr title="Thursday">T</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="5" />
              <abbr title="Friday">F</abbr>
            </label>
            <label class="weekday">
              <input type="radio" name="weekday" value="6" />
              <abbr title="Saturday">S</abbr>
            </label>
          </div>
        </fieldset>
      </form>
    </section>
    <section class="locations"></section>
  </section>
</details>
